body {
  background-image: url("./assets/Fundo.jpg");
  background-size: cover;
}

.index {
  background-color: #5ac7fab7;
  height: 500px;
  width: 900px;
  margin: auto;
  margin-top: 90px;
  border-radius: 5%;
  text-decoration: none;

}

.content {
  background-color: rgb(0, 0, 0)255;
  height: 300px;
  width: 840px;
  margin: auto;
  margin-top: 60px;
  border-radius: 5%;
}





.listar-epi,
.editar-epi,
.excluir-epi {
  display: none;
}