body {
  background-image: url("./assets/Fundo.jpg");
  background-size: cover;
}

.index {
  background-color: #5ac7fab7;
  height: 500px;
  width: 900px;
  margin: auto;
  margin-top: 90px;
  border-radius: 5%;
  text-decoration: none;

}

.content {
  background-color: white;
  height: 380px;
  width: 850px;
  margin: auto;
  margin-top: 60px;
  border-radius: 5%;
}




.cadastro-epi,
.listar-epi,
.editar-epi,
.excluir-epi,
.cadastro-func,
.listar-func,
.editar-func,
.excluir-func {
  display: none;
}