body {
  background-image: url("./assets/Fundo.jpg");
  background-size: cover;
}

.index {
  background-color: #5ac7fab7;
  height: 500px;
  width: 900px;
  margin: auto;
  margin-top: 90px;
  border-radius: 5%;
  text-decoration: none;

}

.titulo {
  padding-top: 30px;
}

.index .links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 100px;
  padding: 0 40px 0 40px;

}

.lado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  color: #000;
  text-decoration: none;
  width: 150px;
}

.logo-div {
  text-align: center;
  margin: auto;
}

.logo-foto {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 10%;

}

h1 {
  color: black;
  text-align: center;
}


.adicionarEpi {
  color: white;
  margin-top: 5%;
  background-color: blue;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

.content {
  background-color: rgb(255, 255, 255);
  height: 350px;
  width: 850px;
  margin: auto;
  border-radius: 5%;
  text-align: center;

  z-index: 0;
  position: absolute;
  margin: 39px 17px;
}

.excluir-epi,
.editar-epi,
.listar-epi {
  display: none;
}

.content h2 {
  display: inline-block;
  padding: 0 25px;

}



.navApiGeral{
  margin-left: 25px;
}
.navApi,
.navApi2,
.navApi3,
.navApi4 {
  background-color: darkgray;
  border: none;
  height: 60px;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;

}
.navApi{
left: 250px;
}
.navApi2{
  left: 350px;
}
.navApi3{
  left: 450px;
}
.navApi4{
  left: 550px;
}
.navApi {
  background-color: white;
}

.listarEpi, .excluirEpi , .editarEpi{
  display: none;
}